#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- CFLAGS="$(shell dpkg-buildflags --get CFLAGS)"

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr

get-orig-source:
	uscan --verbose --force-download --no-symlink
	@if test -e ../wmtime-*.download ; then \
		rename -f -v "s/wmtime-(.+)\.download/wmtime_\1\.orig\.tar\.gz/" \
			../wmtime-*.download; \
	fi
