#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	cd wmtime && make

override_dh_clean:
	dh_clean
	cd wmtime && make clean || true

override_dh_install:
	dh_install
	cd wmtime && make DESTDIR=$(CURDIR)/debian/wmtime install
